@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --blue-primary: #4534ac;
    --blue-link: #0054a1;
    --blue-background: #afa3ff;

    --white-accent: #ebebeb;
    --white: #ffffff;
    --white-background: #f7f7f7;

    --black-primary: #080808;
    --black-secondary: #202020;
    --black-muted: #3a3a3a;
    --black-accent: #797979;

    --border: #cecece;

    --urgent: #ff6b6b;
    --medium: #ffa235;
    --low: #0ecc5a;
  }
}
